<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @team_member.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @team_member.email %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @team_member.linkedin %>
</p>

<p>
  <strong>Role:</strong>
  <%= @team_member.role %>
</p>

<%= link_to 'Edit', edit_team_member_path(@team_member) %> |
<%= link_to 'Back', team_members_path %>
